.my-bg-footer {
  background-color: #e3f2fd;
}
footer {
  padding: 30px 0 30px 0;
  color: black;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: none;
  color: skyblue;
}

footer a {
  margin: 0 60px 0 0;
}
