<h1 class="text-center">Something</h1>

<h2>Some of the projects I have done as a web developer:</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img
        src="https://i.imgur.com/lKZS2yK.png"
        class="card-img-top"
        alt="twitter-img"
      />
      <div class="card-body">
        <h5 class="card-title">Twitter Clone with React.js</h5>
        <p class="card-text">
          In this version of twitter we used React.js and we did a Single Page
          Aplication. Also we worked with Json Web Token for the authentication.
        </p>
        <p class="card-text">
          Front-end technologies: HTML, CSS3, JavaScript(ES6+), React.js, React
          Bootstrap, Redux, React Router
        </p>
        <p class="card-text">
          Back-end technologies: Node.js, Express.js, API-REST, JWT
        </p>
        <div class="text-center">
          <a href="https://github.com/trottafede/twitter" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
          <a
            href="https://twitter-hhjnjfzh1-trottafede.vercel.app/signIn"
            target="_blank"
            ><i class="fas fa-laptop"></i
          ></a>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Date of the project: 26 April 2021 </small>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="col">
    <div class="card h-100">
      <img
        src="https://i.imgur.com/lKZS2yK.png"
        class="card-img-top"
        alt="twitter-img"
      />
      <div class="card-body">
        <h5 class="card-title">Twitter Clone</h5>
        <p class="card-text">
          This is a Twitter clone. We used technologies as HTML, CSS3,
          JavaScript (ES6+), Bootstrap in the front-end.
        </p>
        <p>In the back-end we used: Node.js, Express.js, Passport.js, EJS</p>
        <div class="text-center">
          <a href="https://github.com/trottafede/twitter" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
          <a
            href="https://twitter-hhjnjfzh1-trottafede.vercel.app/signIn"
            target="_blank"
            ><i class="fas fa-laptop"></i
          ></a>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Date of the project: 26 April 2021 </small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
