<div class="col-md-12 d-flex justify-content-center">
  <form class="row g-3">
    <div class="col-md-12">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" />
    </div>
    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" />
    </div>
    <div class="col-md-12">
      <label for="number" class="form-label">Number</label>
      <input type="text" class="form-control" id="number" />
    </div>

    <div class="mb-3">
      <label for="message" class="form-label">Messgae</label>
      <textarea class="form-control" id="message" rows="3"></textarea>
    </div>

    <div class="col-12 mb-4">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
</div>
