/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 765px) {
  body {
    background-color: rgb(173, 207, 230);
  }

  .mediaQuery {
    text-align: center;
  }

  .my-card-style {
    margin-bottom: 30px;
  }

  img:hover {
    -webkit-transform: scale(0) !important;
    transform: scale(1) !important;
    box-shadow: none !important;
    border: none !important;
    cursor: pointer;
  }
}
